body {
    background-color: rgb(46,46,46);
    /*color: white;*/
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    color: #0099FF;
    text-shadow: 7px -4px 2px #C632A6;
}

main {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}


.message {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin : 0 20px 20px 0;
}

.user, .addUser {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    margin : 0 20px 20px 0;
}

.addUser {
    padding : 20px
}

.addUser form {
    display: flex;
    flex-direction: column;
}



.info_portable {
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.info_portable img {
    width: 50px;
}

.user_nom {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
}

.user_nom img {
    margin: 0 5px;
    width: 60px;

    border: 1px solid #D5D5D5;
    border-radius: 50%;
}

.message_blue, .message_blue a {
    background-color: #0099FF;
    color: white;
}

.message_blue {
    display: flex;
    flex-direction: column;
    margin: 10px 17px 6px 20%;
    border-radius: 11px 2px 17px 11px;
}

.message .message_blue {
    /*display: flex;*/
    /*flex-direction: column;*/
    margin: 10px;
    /*border-radius: 11px 2px 17px 11px;*/
}

.message_blue .content {
    display: flex;
    flex-direction: column;
    margin: 11px;
}

.message_grey {
    display: flex;
    /*flex-direction: column;*/
    margin: 10px 10px 6px 17px;

}

.message_grey .content, .message_grey a {
    padding: 11px;
    background-color: #d7d7d7;
    border-radius: 50px;
    color: black;
}

footer {
    background-color: #fff;

}