body {
    background-color: rgb(46,46,46);
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    color: #0099FF;
    text-shadow: 7px -4px 2px #C632A6;
}

main {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
}

.user {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    margin : 0 20px 20px 0;
}

.info_portable {
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    justify-content: flex-end;
}

.info_portable img {
    width: 30px;
}

.user_nom {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
}

.user_nom img {
    margin: 0 5px;
    width: 70px;

    border: 1px solid #D5D5D5;
    border-radius: 50%;
}

.message_blue, .user a {
    background-color: #0099FF;
    color: white;
}

.message_blue {
    display: flex;
    flex-direction: column;
    margin: 10px 17px 6px 20%;
    border-radius: 11px 2px 17px 11px;
}

.message_blue .content {
    display: flex;
    flex-direction: column;
    margin: 11px;
}

.message_grey {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 6px 17px;
    background-color: #d7d7d7;
    border-radius: 50px;
}

.message_grey .content {
    display: flex;
    flex-direction: column;
    margin: 11px;
}

footer {
    background-color: #fff;

}