body {
    background-color: #0e0d0d;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.appIMC {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vh;
    /*border: white 1px solid;*/
    justify-content: center;
    align-items: center;
    /*height: 500px;*/
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    border: 20px solid rgba(248, 240, 240, 0.58);
    background: #262424;
}

.inputTaille_Poids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 70px;
    outline: 0;
    padding: 4px 20px 0;
    text-align: center;
    width: 405px;
    margin: 10px;
}

#btn_Et_Select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

#selection {
    width: 250px;
    height: 50px;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    color: #eee;
    font-size: 17px;
    text-align: center;
    margin-bottom: 50px;
}

#iButton {
    background-color: #de1919;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    padding: 10px;
    width: 140px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    height: 50px;
}

.msg_imc {
    width: 450px;
    height: 100px;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    color: #eee;
    font-size: 23px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 35px ;
    box-shadow: 10px 10px 5px 0px rgba(235, 225, 225, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(235, 225, 225, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(235, 225, 225, 0.75);
}