<a href="{{ path('finByIdVoiture') }}">finByIdVoiture</a><br>
<a href="{{ path('findOneByCar') }}">findOneByCar</a><br>
<a href="{{ path('findAllCars') }}">findAllCars</a><br>
<a href="{{ path('findByNameCars') }}">findByNameCars</a><br>