{% extends 'base.html.twig' %}

{% block title %}Hello ExoController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="card">
        <h5 class="card-header">{{ monTitre }}</h5>
        <div class="card-body">

            <p class="card-text">{{ contenuDynamique }}</p>
        </div>
    </div>
</div>
{% endblock %}
