
body{
    background-color: #483f3f;
}

h1{
    color: #dc0505;
    font-size: 30px;
}


h2{
 text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    text-shadow: -3px 13px 6px rgba(0,0,0,0.6);
}

section{
    display: flex;
    justify-content: center;



}

div{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
}
figcaption{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 155px;


}
figure{
    background-color: #dcd1d0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    /*border: 4px groove #ff6550*/
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;


}

h1{
   text-align: center;
    font-size: 40px;
}

img{
    width: 150px;
    height: 150px;

}

